html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  /* background-image: url('/src/pictures/IMG_1550.jpg'); */
  /* padding: 0; */
  font-family: serif;
  color: rgb(116, 190, 236);
}
